.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  color: white;
  position: top fixed;
  margin: 0 auto;
}

section {
  display: table;
  width: 100%;
}

section > * {
  display: table-row;
}

section .col {
  display: table-cell;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.esquerda {
  width: 150px;
}

.cabecalho {
  font-weight: bolder;
}

.destaque {
  color: brown;
  font-weight: bolder;
}

.nomeador {
  color: cornflowerblue;
}

.botaoSwitch {
  margin: 5px;
}

.containerForm {
  background-color: antiquewhite;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.container, .Container-equipamento {
  width: 600px;
  margin: 0 auto;
}

.titulo {
  font-family: cursive;
  font-style: italic;
  color: gray;
}

.botoes {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
}

.interruptor {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.menu {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  border-radius: 10px;
  border: solid 1px gray;
  flex-wrap: wrap;
}

.lista ul li {
  list-style: none;
}

.lista ul li a {
  text-decoration: none;
  color: cornflowerblue;
}

.lista h3 {
  margin-left: 40px;
  font-family: cursive;
  color: gray;
}
