.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  color: white;
  position: top fixed;
  margin: 0 auto;
}

section {
  display: table;
  width: 100%;
}

section > * {
  display: table-row;
}

section .col {
  display: table-cell;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid brown;
}

.cabecalho {
  font-weight: bolder;
}

.corpo {
  text-align: left;
  background-color: aquamarine;
}

.destaque {
  color: brown;
  font-weight: bolder;
}

.nomeador {
  color: cornflowerblue;
}

.botaoSwitch {
  margin: 5px;
}

.containerForm {
  background-color: antiquewhite;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.menu {
  width: 600px;
  height: 600px;
  background-color: cadetblue;
  margin: 0 auto;
}

.interruptor {
  background-color: cornflowerblue;
  border: 1px solid blue;
  color: white;
  margin: 10px 590px 10px 10px;
}

.container, .Container-equipamento {
  width: 600px;
  margin: 0 auto;
}

.titulo {
  font-family: cursive;
  font-style: italic;
  color: gray;
}
