.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  color: white;
  position: top fixed;
  margin: 0 auto;
}

.Tipo-equipamento {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Equipamento {
  border: 1px solid black;
  flex-grow: 1;
  align-self: flex-start;
}

.Descricao {
  border: 1px solid black;
  flex-grow: 3;
}
